// Colors
$primary-color: #007bff; 
$primary-color-light: #4795e8; 
$secondary-color: #6c757d; 
$text-color: #333;
$btn-color: #fff;
$btn-bg: rgb(236, 109, 109);
$btn-bg-hover: rgb(248, 180, 180);

// Sizes
$header-height: 60px;